/* Reset */
* {
  margin: unset;
  padding: unset;
}
h1, h2 {
  font-size: unset;
  font-weight: unset;
}
a {
  color: unset;
  text-decoration: none;
}
li {
  list-style: none;
}
img {
  vertical-align: top;
  max-width: 100%;
}

/* Variables */
:root {
  --color-black-01: #111;
  --color-black-02: #333;
  --color-black-03: #444;
  --color-black-04: #666;
  --color-gray-01: #999;
  --color-gray-02: #eee;
  --color-btn-blue: #0468FF;
  --color-btn-gray: #d9d9d9;
}

/* Typography */
:root {
  font-family: 'Montserrat', sans-serif;
}

/* Layouts */


/* Commons */
.btn {
  display: block;
  line-height: 22px;
  text-align: center;
  border-radius: 2px;
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 2px;
}
.btn.type_blue {
  color: #fff;
  background: var(--color-btn-blue);
}
.btn.type_gray {
  color: var(--color-black-02);
  background: var(--color-btn-gray);
}
.btn.type_small {
  color: var(--color-black-04);
  background: var(--color-gray-02);
  font-size: 10px;
  font-weight: 700;
  line-height: 1;
  border-radius: 20px;
  padding: 5px 12px;
  letter-spacing: normal;
}
.btn + .btn {
  margin-top: 6px;
}

/* Components */
body {
  background: url(images/background.png);
}
.l_wrap {
  max-width: calc(1080px + 60px);
  min-height: 100vh;
  margin: 0 auto;
  padding: 30px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
}
.container-layout {
  display: flex;
  border-radius: 6px;
  overflow: hidden;
}
.side {
  width: 250px;
  flex-shrink: 0;
  color: #999;
  background: url(images/sidebar-background.png) no-repeat center / cover;
  padding: 16px;
  box-sizing: border-box;
  position: relative;
}
.side::after {
  content: '';
  position: absolute;
  top: -10px;
  right: 14px; 
  background: url(images/coffee-icon.png) no-repeat center / cover;
  width: 80px;
  aspect-ratio: 158/143;
}
.side h1 {
  font-size: 24px;
  font-weight: 700;
  color: #fff;
  width: fit-content;
  padding-bottom: 8px;
  box-shadow: inset 0 -10px 0 0 var(--color-black-04);
  position: relative;
  margin-bottom: 16px;
}
.side-txt {
  font-size: 14px;
  color: var(--color-gray-01);
  line-height: 1.4;
  margin-bottom: 26px;
}

.contents {
  flex-grow: 1;
  background: #fff;
  padding: 16px;
}
.section {
  color: var(--color-black-02);
}
.section + .section {
  margin-top: 26px;
}
.section-header {
  display: flex;
  align-items: center;
  border-bottom: 8px solid var(--color-gray-02);
  margin-bottom: 16px;
}
.section-header h2 {
  color: var(--color-black-04);
  font-size: 24px;
  font-weight: 700;
  line-height: 1.3;
}
.section-header .btn {
  margin-left: auto;
}
.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(110px, 1fr));
  gap: 16px;
}
.square {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(235px, 1fr));
  gap: 16px;
}
.square li {
  border-radius: 6px;
  background: var(--color-gray-02);
  padding: 16px;
  font-size: 14px;
  line-height: 1.4;
  aspect-ratio: 1/1.02;
  display: flex;
  flex-direction: column;
}
.square-writer {
  color: var(--color-black-01);
  text-align: right;
  margin-top: auto;
  padding-top: 24px;
}