body {
    background: rgb(187 195 231);
    padding: 0 20px;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}
h1 {
    text-align: center;
    margin: 80px 0;
}

.mynav ul {
    display: flex;
    justify-content: center;
    list-style-type: none;
    padding: 0;
    flex-wrap: wrap;
}
.mynav li {
    margin: 0 10px;
}
.mynav a {
    display: block;
    font-size: 20px;
    color: #000;
    text-decoration: none;
    padding: 7px 15px;
}

.target {
    position: absolute;
    border-bottom: 4px solid transparent;
    z-index: -1;
}
.mynav a,
.target {
    transition: all .35s ease-in-out;
}