/* Resets */
* {
  margin: unset;
  padding: unset;
}
li {
  list-style: none;
}
h1 {
  font-size: unset;
  font-weight: unset;
}
img {
  max-width: 100%;
  vertical-align: top;
}
button {
  all: unset;
  cursor: pointer;
}
textarea {
  all: unset;
  white-space: pre-line;
}
::placeholder {
  color: var(--color-gray-70);
}

/* Typography */
:root {
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 10px;
  font-weight: 500;
  word-break: keep-all;
}
body {
  font-size: 1.6rem;
}

/* Variables */
:root {
  --color-blue-20: #2CBAF7;
  --color-blue-50: #7176FF;
  --color-red-50: #FF6A6A;
  --color-gray-10: #F4F4F4;
  --color-gray-20: #eee;
  --color-gray-30: #D9D9D9;
  --color-gray-50: #ccc;
  --color-gray-70: #aaa;
  --color-gray-90: #999;
  --color-black-30: #666;
  --color-black-50: #333;
  --color-black-100: #000;
}

/* Commons */
.grid {
  display: grid;
  grid-template-columns: minmax(auto,6rem) 49%;
  gap: 0.2rem 1rem;
}
.grid-cover {
  width: 6rem;
  border: 4px solid #fff;
  border-radius: 50%;
  box-shadow: 1px 1px 4px rgba(0,0,0,.3); 
  aspect-ratio: 1/1;
  margin-left: -1rem;
  grid-row: 1/span 2;
  object-fit: contain;
  object-position: center 0.4rem;
}
.grid-name {
  font-size: 1.6rem;
  font-weight: 700;  
  grid-row: 1/span 1;
  align-self: end;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.grid-time {
  font-size: 1.4rem;
  color: var(--color-gray-90);
  grid-row: 2/span 1;
}
.grid.type_comment {
  gap: 0.8rem 1.4rem;
  grid-template-columns: auto auto 1fr;
}
.grid.type_comment .grid-time {
  grid-row: 1 / 1;
  grid-column: 3 / span 1;
  margin-top: 0.2rem;
  margin-left: -0.7rem;
}
.grid-footer {
  grid-column: 2/span 2;
  display: flex;
  padding-left: 1.4rem;
}
.block {
  grid-column: 2/ span 2;
  background: var(--color-gray-10);
  border-radius: 1.8rem;
  min-height: 10rem;
  box-sizing: border-box;
  padding: 1.2rem 1.5rem;
  display: grid;
  grid-template-columns: 1fr auto;
  gap: 1rem;
  font-size: 14px;
  font-weight: 500;
}
.block-contents {
  display: block;
  width: 100%;
  font-size: 1.6rem;
}
.block-btns {
  margin-left: auto;
  width: 36px;
}
.block-footer {
  display: flex;
  align-items: center;
  margin: 0 -1.5rem;
  margin-top: auto;
  border-top: 1px solid var(--color-gray-30);
  padding: 4px;
  padding-left: 1.7rem;
  font-size: 12px;
  letter-spacing: .2em;
  color: var(--color-gray-90);
}
.block-count span {
  color: var(--color-red-50);
}
.block-aside {
  margin-left: auto;
  flex-shrink: 0;
  display: flex;
}
.bookmark {
  width: 2.4rem;
  height: 2.4rem;
  -webkit-mask: url(images/btn-bookmark.svg) no-repeat center;
  mask: url(images/btn-bookmark.svg) no-repeat center;
  background: var(--color-gray-70);
  text-indent: -9999px;
  overflow: hidden;
}
.bookmark.is_act {
  background: #fdd932;
}
.ir {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
}
.btn.type_more {
  color: var(--color-black-30);
  background: #fff url(images/btn-arrow-bottom.svg) no-repeat left 10px center;
  padding: 14px;
  padding-left: 40px;
  border-radius: 24px;
}
.btn.type_square {
  display: block;
  width: 100%;
  height: 24px;
  border-radius: 4px;
  text-align: center;
  color: var(--color-blue-50);
  font-size: 12px;
  font-weight: 500;
  background: #fff url() no-repeat center;
}
.btn.type_square + .btn.type_square {
  margin-top: 6px;
}
.btn.type_square.type_like {
  background-color: currentColor;
  background-image: url(images/btn-like.svg);
}
.btn.type_square.type_dislike {
  background-image: url(images/btn-dislike.svg);
}
.btn.type_round {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: var(--color-gray-50) url() no-repeat center;
}
.btn.type_round.type_emoji {
  background-image: url(images/btn-emoji.svg);
}
.btn.type_round.type_file {
  margin-left: 4px;
  background-image: url(images/btn-file.svg);
}
.btn.type_round.type_send {
  background-color: var(--color-blue-20);
  background-image: url(images/btn-send.svg);
  border-radius: 50% 10% 50% 50%;
  position: relative;
  margin-left: 2rem;
}
.btn.type_round.type_send::before {
  content: '';
  position: absolute;
  top: 50%;
  left: -18px;
  transform: translateY(-50%);
  margin: 0 1rem;
  width: 1px;
  height: 12px;
  border-radius: 4px;
  background: var(--color-gray-30);
}
.btn.type_text {
  font-size: 1.4rem;
  font-weight: 500;
  color: var(--color-black-50);
  display: flex;
  align-items: center;
  gap: 4px;
}
.btn.type_text + .btn.type_text {
  margin-left: 1.4rem;
}
.btn.type_text::before {
  content: '';
  width: 12px;
  height: 12px;
  background: url() no-repeat left center;
  margin-bottom: -.2rem;
}
.btn.type_text.type_answer::before {
  background-image: url(images/btn-text-answer.svg);
}
.btn.type_text.type_like::before {
  background-image: url(images/btn-text-like.svg);
}
*[data-modal-trigger] {
  cursor: pointer;
}
.modal {
  position: fixed;
  inset: 0;
  background: rgba(34,34,34,.8);
  display: flex;
  padding: 6rem;
  opacity: 0;
  visibility: hidden;
  transition: opacity .3s;
}
.modal.is_active {
  opacity: 1;
  visibility: visible;
}
.modal-inner {
  margin: auto;
  width: 100%;
  max-width: 800px;
  max-height: 100%;
  background: #fff;
  border-radius: 2rem;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}
.modal-header {
  display: flex;
  box-shadow: inset 0 -2px 0 var(--color-gray-30);
}
.modal-title {
  font-size: 2.4rem;
  padding: 2rem;
  border-right: 2px solid var(--color-gray-30);
  flex-grow: 1;
  display: flex;
  align-items: center;
}
.modal-close {
  margin-left: auto;
  width: 8rem;
  height: 8rem;
  flex-shrink: 0;
  text-align: center;
  background: url(images/btn-close.svg) no-repeat center;
  box-sizing: border-box;
  align-self: center;
}
.modal-main {
  padding: 2rem 2rem 3rem;
  overflow: auto;
  overscroll-behavior: none;
}
.modal-footer {
  padding: 10px;
  background: var(--color-gray-20);
}

/* Components */
body {
  background: #eee;
}
.app {
  min-height: 100vh;
  padding: 10rem;
  display: flex;
  box-sizing: border-box;
}
.app-inner {
  margin: auto;
  width: 100%;
  max-width: 800px;
}
.app-header {
  color: var(--color-black-30);
  position: relative;
  display: flex;
  gap: 1rem;
}
.app-header::after {
  content: '';
  background: url(images/header-emoji.png) no-repeat center / cover;
  width: 12.8rem;
  height: 12.8rem;
  aspect-ratio: 1/1;
  margin-top: -6rem;
  margin-left: auto;
  margin-right: 1rem;
  flex-shrink: 0;
}
.app-header h1 {
  font-size: 4rem;
  font-weight: 700;
  letter-spacing: -0.01em;
}
.app-header-count {
  color: var(--color-blue-50);
}
.app-main {
  margin-top: 3rem;
}
.app-main-btn {
  margin-top: 28px;
  text-align: center;
}
.list li {
  background: #fff;
  border-radius: 5rem;
  padding: 12px 20px;
  border: 4px solid var(--color-gray-30);
  display: grid;
  grid-template-columns: 123px minmax(50%, 1fr) auto;
  gap: .4rem 3rem;
}
.list li + li{
  margin-top: 10px;
}
.list-main {
  padding-left: 2.4rem;
  box-shadow: inset 4px 0 0 var(--color-gray-30);
  display: flex;
  align-self: center;
  gap: 1rem;
}
.list-subject {
  font-size: 2.4rem;
  font-weight: 700;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 2.2;
}
.list-aside {
  min-width: 8rem;
  margin-left: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 4px;
  font-size: 12px;
  color: var(--color-gray-90);
}
.post-contents {
  margin: 2rem 0;
}
.slider-cover {
  border-radius: 12px;
  aspect-ratio: 760/430;
}
.comment {
  margin-top: 2rem;
}
.comment.type_sub {
  grid-column: 2/span 2;
  padding-left: 1.5rem;
  position: relative;
}
.comment.type_sub::before {
  content: '';
  background: var(--color-gray-20);
  width: 3px;
  height: 100%;
  border-radius: 12px;
  position: absolute;
  left: 0; 
  top: 0;
}
.comment.type_sub .grid-cover {
  margin: unset;
}
.comment.type_sub .block {
  min-height: auto;
  border-radius: 6px;
}
.comment.type_re {
  grid-column: 2 / span 2;
}
.comment.type_re .block {
  background: #fff;
  border: 1px solid var(--color-gray-30);
  min-height: 8rem;
}
.comment.type_blank {
  margin: 0;
}
.comment.type_blank .grid {
  gap: 0 10px
}
.comment.type_blank .grid-cover {
  margin: unset;
}
.comment.type_blank .block {
  display: block;
  background: #fff;
  border: 1px solid var(--color-gray-70);
  padding-bottom: 0;
  height: 14rem;
  display: flex;
  flex-direction: column;
}

@media (max-width: 1280px) {
  :root {
    font-size: 9px;
  }
}
@media (max-width: 768px) {
  :root {
    font-size: 8px;
  }

  .app {
    padding: 3rem;
  }
  .app-header::after {
    width: 8rem;
    height: 8rem;
    margin-top: unset;
  }
  .app-header h1 {
    font-size: 3rem;
  }
  .list li {
    border-width: 2px;
    grid-template-columns: 1fr auto;
  }
  .list-main {
    box-shadow: none;
    padding-left: 0.6rem;
    grid-row: 2/span 1;
    grid-column: 1/span 2;
  }
  .list-aside {
    flex-direction: row;
    font-size: 1.4rem;
  }
  .list-subject {
    white-space: unset;
    line-height: 1.4;
  }
  .grid,
  .grid.type_comment {
    column-gap: 6px;
    grid-template-columns: auto auto 1fr;
  }
  .grid-cover {
    width: 4rem;
    border-width: 2px;
    grid-row: 1/span 1;
    margin: unset;
  }
  .grid-name {
    align-self: center;
  }
  .grid-time {
    grid-row: 1/span 1;
    align-self: center;
  }
  .grid.type_comment .grid-time {
    margin: unset;
  }

  .modal {
    padding: 3rem;
  }
  .bookmark {
    order: 2;
    width: 1.6rem;
    height: 1.8rem;
    -webkit-mask-size: cover;
    mask-size: cover;
  }
}