/* Reset */
* {
  margin: unset;
  padding: unset;
}
h1, h2 {
  font-size: unset;
  font-weight: unset;
}
li {
  list-style: none;
}
img {
  vertical-align: top;
  max-width: 100%;
}

/* Layout */
.l_wrapper {
  max-width: 1200px;
  margin: 0 auto;
  padding: 60px;
}

/* Components */
body {
  background: #111;
}
.cover {
  position: relative;
}
.cover::after {
  content: '';
  position: absolute; inset: 0;
  background: linear-gradient(to bottom, transparent 50%, #111);
}

.movie {
  display: flex;
  gap: 100px;
  position: relative;
  z-index: 1;
  margin-top: -150px;
  color: #fff;
}
.desc-tit {
  font-size: 64px;
  font-weight: 700;
  position: relative;
}
.desc-icon {
  position: absolute;
  top: -4px; left: 0;
  transform: translateY(-100%);
  font-size: 12px;
  font-weight: 700;
  letter-spacing: .3em;
  text-indent: .3em;
  text-transform: uppercase;
  padding: 8px 8px 6px;
  background: #FF2E00;
  border-radius: 8px;
  line-height: 1;
  vertical-align: middle;
}
.desc-txts {
  margin-top: 26px;
  color: #999;
  font-size: 16px;
  line-height: 1.6;
}
.desc-txts .txt {
  margin-bottom: 30px;
}
.desc-txts .txt:last-child {
  margin-bottom: 0;
}

.info {
  width: 240px;
  margin-top: 20px;
  flex-shrink: 0;
}
.info-sec + .info-sec {
  margin-top: 40px;
}
.info h2 {
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 20px;
}
.genre-list {
  display: flex;
  flex-wrap: wrap;
  gap: 6px 4px;
}
.genre-list li {
  color: #aaa;
  font-size: 14px;
  line-height: 1.6;
  border-radius: 12px;
  background: #222;
  padding: 2px 14px 0;
}
.ratings-stars {
  position: relative;
  height: 48px;
  overflow: hidden;
}
.ratings-stars::before {
  content: '';
  background: url(images/star.png) no-repeat top center / cover;
  position: absolute;
  inset: 0;
}
.ratings-stars::after {
  content: '';
  background: url(images/star.png) no-repeat bottom left / 240px;
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
}

.ratings-stars.n1::after { width: 20%; }
.ratings-stars.n2::after { width: 40%; }
.ratings-stars.n3::after { width: 60%; }
.ratings-stars.n4::after { width: 80%; }
.ratings-stars.n5::after { width: 100%; }

.ratings-stars p  {
  opacity: 0;
}
.casts-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -8px;
}
.casts-list li {
  border-radius: 50%;
  border: 4px solid #111;
  overflow: hidden;
  width: 64px;
  box-sizing: border-box;
  margin-right: -12px;
}