.form_control {
    margin: 0.5rem 0;
}

.form_control label {
    font-weight: bold;
    display: block;
    margin-bottom: 0.5rem;
}

.form_control input {
    display: block;
    width: 100%;
    border: 1px solid #ccc;
    font: inherit;
    line-height: 1.5rem;
    padding: 0.3rem 0.25rem;
    border-radius: .5rem;
}

.form_control input:focus {
    outline: none;
    background: #b9c8de;
    border-color: #4171b9;
}

.form_control.invalid input {
    border-color: #ff8585;
    background: #ffb4b4;
}

.form_control.invalid label {
    color: red;
}