body {
	margin: unset;
}

.container {
	display: flex;
	height: 100vh;
	justify-content: center;
	align-items: center;
	background-image: url(images/background.png);
	background-position: center;
	background-size: cover;
}

button[data-modal-trigger] {
  background: #fff;
  padding: 12px;
  margin-right: 10px;
  border-radius: 8px;
}

button[data-modal-trigger]:last-child {
  margin: unset;
}
