/* Reset */
:root {
	font-family: 'arial';
}
* {
  margin: 0;
}

/* Components */
body {
  background: url(images/background.png) no-repeat center / cover;
  backdrop-filter: blur(3px);
  height: 100vh;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 1px;
}
.box {
  width: 70%;
  max-width: 1000px;
  margin: 30px auto;
  background: url(images/cover06.png) no-repeat center / cover;
  text-align: center;
  border-radius: 15px;
  padding: 50px;
}
.img-box {
  border: 5px solid;
  display: inline-block;
  font-size: 0;
  border-radius: 100px / 50px;
  overflow: hidden;
}
h1 {
  font-size: 70px;
  margin-top: 10px;
}
p {
  margin-top: 15px;
  display: inline-block;
  padding: 10px;
  border-top: 3px solid;
}