/* Reset */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  font-family: 'Montserrat', sans-serif;
  line-height: 1.5;
}
body {
  min-height: 100vh;
  background: #ebebeb;
}
h1, h2 {
  font-size: unset;
  font-weight: unset;
}
img {
  vertical-align: top;
}

/* Components */
.header {
  background: url(images/insideout-bg.png) no-repeat center / cover;
  padding: 70px 0;
  text-align: center;
  color: #fff;
}
.header h1 {
  font-size: 80px;
  font-weight: 900;
  letter-spacing: 0.1em;
  background: #e6311b;
  padding: 20px 0;
  line-height: 1;
}

.wrap {
  max-width: 1000px;
  margin: 0 auto;
  padding: 30px;
}

.contents .card {
  display: flex;
  align-items: bottom;
  background: #fff;
  border-radius: 10px;
  align-items: flex-end;
}
.contents .card + .card {
  margin-top: 30px;
}
.contents .card .img-box {
  width: 32%;
}
.contents .card .txt-wr {
  padding: 40px;
  text-align: right;
}
.contents .card .txt-wr h2 {
  display: inline-block;
  font-size: 24px;
  font-weight: bold;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  padding-bottom: 0.05em;
  position: relative;
  padding-bottom: 7px;
}
.contents .card .txt-wr h2:after {
  content: '';
  display: inline-block;
  position: absolute;
  width: 100%;
  height: 0.4em;
  left: 0;
  bottom: 0;
  border-radius: 5px;
  opacity: .8;
  background: currentColor;
}
.contents .card .txt-wr .txt-box {
  margin-top: 20px;
  columns: 2;
  column-gap: 2vw;
  font-size: 14px;
}

.contents .card:nth-child(even) {
  flex-direction: row-reverse;
}
.contents .card:nth-child(even) .txt-wr {
  text-align: left;
}

.contents .card.n1 {
  align-items: flex-start;
}
.contents .card.n1 .txt-wr h2 {
  color: #efde31;
}
.contents .card.n2 .txt-wr h2 {
  color: #66a1d8;
}
.contents .card.n3 .txt-wr h2 {
  color: #fb622d;
}