@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Noto+Sans&family=Noto+Sans+KR:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
  font-family: 'Montserrat', 'Noto Sans KR', sans-serif;
  margin: 0;
	padding: 0;
	border: 0;
  line-height: 1.6;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* basic style */
.wrap {
  padding: 15px;
  max-width: 1600px;
  margin: 0 auto;
}
.wrap h1 {
  font-size: 30px;
  font-weight: bold;
  padding: 20px 0;
  text-transform: uppercase;
}
.wrap dl {
  margin-bottom: 20px;
}
.wrap dt {
  background: #f6f6f6;
  padding: 10px 20px;
  border-radius: 15px;
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 10px;
}
.wrap dd {
  margin-left: 20px;
  padding-left: 10px;
  position: relative;
  color: #333;
}
.wrap dd:before {
  content: '';
  display: block;
  position: absolute;
  top: 11px; left: 0;
  width: 2px; height: 2px;
  background: #333;
  border-radius: 50%;
}
.wrap dd.mt {
  margin-top: 10px;
}