@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;200;300;400;500;600;700;800;900&display=swap&family=Inconsolata:wght@400;600&display=swap');

:root {
    font-family: 'Inconsolata', 'Noto Sans KR', sans-serif;
    line-height: 1.6;
}

* {
    margin: unset;
    padding: unset;
    border: none;
}

ul li {
    list-style: none;
}

img {
    vertical-align: top;
    max-width: 100%;
}

/* basic style */
code {
    background: #efefef;
    padding: 0.3em 0.4em;
    border-radius: 0.3em;
}

.wrap {
    padding: 30px;
    max-width: 1040px;
    margin: 0 auto;
}

.wrap section+section {
    margin-top: 40px;
}

.wrap h1 {
    font-size: 30px;
    font-weight: bold;
    padding: 0 0 10px;
    text-transform: uppercase;
}

.wrap dl,
.wrap ul {
    margin-bottom: 20px;
}

.wrap dt,
.wrap h2 {
    background: #fff9e0;
    padding: 10px 20px;
    border-radius: 15px;
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 10px;
}

.wrap dd,
.wrap ul li {
    /* margin-left: 22px; */
    padding-left: 20px;
    position: relative;
    color: #333;
}

.wrap dd::before,
.wrap ul li::before {
    content: '';
    display: block;
    position: absolute;
    top: 12px;
    left: 0;
    width: 6px;
    height: 2px;
    background: #aaa;
}

.wrap dd.mt,
.wrap li.mt,
.wrap ol>li {
    margin-top: 15px;
    margin-left: 0;
}

.wrap dd.mt::before,
.wrap li.mt::before {
    display: none;
}

.wrap ol {
    padding-left: 45px;
    text-indent: -5px;
}